  body {
      background-color: #a6dcef;
    }
    hr{
      padding:10;
      margin-left:10;

    }
    .intro{
      font-family: 'Caveat', cursive;

    }
.describe-me{
  text-align:center;
}
